{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="author" content="zyl">
		<link rel="stylesheet" type="text/css" href="{% static 'master/css/bootstrap.min.css' %}"/> 
		<link rel="stylesheet" type="text/css" href="{% static 'master/css/bootstrap-theme.min.css' %}"/>
		
		<script src= "{% static 'master/js/jquery-1.11.3.min.js' %}"></script>
		<script src= "{% static 'master/js/bootstrap.min.js' %}"></script>
    </head>
	<body>
		<title>测试结果</title>
		<div class="page-header">
			<h3>测试结果</h3>
		</div>
		<a>测试成功，点击查看测试报告 <a/>
		</form>	
<!--
	{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
	{% endfor %}
-->
	
	</body>
</html>
